In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('data/survey_results_public.csv')
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [11]:
df.groupby('Country')['ConvertedCompYearly'].mean()

Country
Afghanistan                             2.794748e+06
Albania                                 4.499814e+04
Algeria                                 1.446114e+04
Andorra                                 8.928200e+04
Angola                                  2.155680e+04
                                            ...
Venezuela, Bolivarian Republic of...    2.246505e+04
Viet Nam                                1.995289e+04
Yemen                                   5.628667e+03
Zambia                                  1.991491e+04
Zimbabwe                                1.141477e+04
Name: ConvertedCompYearly, Length: 181, dtype: float64

In [14]:
filt = df['Country'] == 'Afghanistan'
df.loc[filt, 'ConvertedCompYearly'].value_counts()

9792.0        1
4200.0        1
3108.0        1
5448.0        1
155496.0      1
51804.0       1
23964.0       1
15132.0       1
4668.0        1
100.0         1
30468516.0    1
Name: ConvertedCompYearly, dtype: int64

In [15]:
df.shape

(83439, 48)

In [16]:
df.loc[filt, 'ConvertedCompYearly'].mean()

2794748.0

In [25]:
filt2 = df['ConvertedCompYearly'] == 30468516.0
df.loc[filt2]

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
65399,65400,I am a developer by profession,Employed full-time,Afghanistan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Online Courses or Certification,7,...,35-44 years old,"Man;Non-binary, genderqueer, or gender non-con...",Yes,Bisexual;Prefer to self-describe:;Gay or Lesbi...,South Asian;Hispanic or Latino/a/x;Black or of...,I am unable to / find it difficult to walk or ...,I have a mood or emotional disorder (e.g. depr...,Too short,Difficult,30468516.0

In [39]:
df.drop(index = 65399, inplace = True)
#already dropped

KeyError: '[65399] not found in axis'

In [31]:
df.shape

(83438, 48)

In [32]:
df.loc[filt, 'ConvertedCompYearly'].value_counts()

9792.0      1
4200.0      1
3108.0      1
5448.0      1
155496.0    1
51804.0     1
23964.0     1
15132.0     1
4668.0      1
100.0       1
Name: ConvertedCompYearly, dtype: int64

In [33]:
df.loc[filt, 'ConvertedCompYearly'].mean()

27371.2

In [47]:
average_salaries = df.groupby('Country')['ConvertedCompYearly'].describe()

In [50]:
average_salaries.groupby('')

,count,mean,std,min,25%,50%,75%,max
Country,,,,,,,,
Afghanistan,10.0,27371.200000,47549.680585,100.0,4317.00,7620.0,21756.00,155496.0
Albania,35.0,44998.142857,115981.347833,48.0,9534.00,15900.0,32448.00,692042.0
Algeria,14.0,14461.142857,14293.693385,3828.0,5952.00,9875.0,13467.00,48550.0
Andorra,4.0,89282.000000,53445.558113,22056.0,62265.75,94045.5,121061.75,146981.0
Angola,10.0,21556.800000,29800.824257,1212.0,3720.00,9750.0,25536.00,96000.0
...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",62.0,22465.048387,36350.098079,353.0,5250.00,12000.0,24000.00,229596.0
Viet Nam,148.0,19952.885135,29680.385533,1000.0,7764.00,12678.0,21312.00,258744.0
Yemen,6.0,5628.666667,6860.341877,100.0,2250.00,3954.0,4668.00,19176.0
Zambia,11.0,19914.909091,29354.286697,4056.0,6546.00,9816.0,15290.00,105000.0
Zimbabwe,13.0,11414.769231,10534.865085,120.0,3600.00,7200.0,17532.00,36000.0